{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block widthClass %}modal-lg{% endblock %}

{% set style %}
<style>
    .drawing-picture {
        position: relative;
    }

    .image-holder {
        position: relative;
        width:100%;
        top:0;
        left:0;
    }

    .image-holder img {
        width: 100%;
    }

    .canvas-holder {
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
</style>
{% endset %}

{% set fabricScripts %}
<script>

  function mapData(data, ratio) {
    console.log(data);
    data.forEach((item) => {
      item.left *= ratio;
      item.top *= ratio;
      item.width *= ratio;
      item.height *= ratio;

      item.path.forEach((path) => {
        path.forEach((property, i) => {
          if (i === 0) return;
          path[i] *= ratio;
        });
      });
    });

    return data;
  }


  {% for drawingData in feuille.drawingDataParsed %}
    {% set canvasVar = 'canvas' ~ uniqid() ~ loop.index0 %}
    {% set dataVar = 'data' ~ uniqid() ~ loop.index0 %}
      setTimeout(function() {
        const data = {{ drawingData.drawing|json_encode|raw }};
        const element = document.getElementById('fabric-canvas-{{ loop.index0 }}');
        const width = element.parentNode.clientWidth;
        const drawingWidth = data.width;
        const drawingHeight = data.height;
        const ratio = width / drawingWidth;
        const height = ratio * drawingHeight;
        const canvas = new fabric.Canvas(element, {
          width: width,
          height: height,
        });

        canvas.loadFromJSON({ objects: mapData(data.data, ratio)}, canvas.renderAll.bind(canvas), function(o, object) {
          object.set('selectable', false);
        });
      }, 400);
  {% endfor %}
</script>
{% endset %}

{% block content %}
    {{ registerJs(asset('bundles/tente/js/fabric.min.js')) }}
    {{ registerScript(fabricScripts) }}
    {{ registerStyle(style) }}
    <div class="border-bottom">
        <h3 class="pt-3 pb-2">{{ feuille.tente.numero }} - Feuille d'état du {{ feuille.createdAt|date('d.m.Y') }}</h3>
    </div>
    <div class="pt-4">
        <div class="row">
            <div class="col-12 col-md-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Utilisateur</td>
                            <td>{{ feuille.user }}</td>
                        </tr>
                        <tr>
                            <td>Unité</td>
                            <td>{{ feuille.groupe }}</td>
                        </tr>
                        <tr>
                            <td>Activité</td>
                            <td>{{ feuille.activity }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Champ</th>
                        <th>Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set formData = feuille.formDataParsed %}
                    {% for item in feuille.tente.model.parsedForm if item.type != 'header' or item.subtype == 'h1' %}
                        <tr {% if item.type == 'header' and item.subtype == 'h1' %}class="bg-primary text-white"{% endif %}>
                            <td>
                                {% if item.type == 'header' and item.subtype == 'h1' %}
                                    Section
                                {% elseif item.type == 'header' %}
                                    Titre
                                {% else %}
                                    {{ item.label|replace({'<br>' : ''}) }}
                                {% endif %}
                            </td>
                            <td>
                                {% set itemValue = '' %}
                                {% for formItem in formData %}
                                    {% if item.name is defined and item.name in formItem|keys %}
                                        {% set itemValue = formItem[item.name] %}
                                    {% endif %}
                                {% endfor %}
                                {% include '@Tente/tente/form_field.twig' %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h3>Eléments dessinables</h3>
        <div class="row pl-3 pr-3">
            {% set maxl = feuille.tente.model.drawingParts|length %}
            {% for drawing in feuille.tente.model.drawingParts %}
                {% set drawingData = feuille.drawingDataParsed[loop.index0] %}
                <div class="col-12 col-md-6 border {% if loop.index0 < maxl - 2 %}mb-5{% endif %}">
                    <h4 class="text-center border-bottom p-2">{{ (drawing.nom|split('_')|join(' ')|split('.'))[0] }}</h4>
                    <div class="drawing-picture">
                        <div class="image-holder">
                            <img src="{{ asset('tentes/uploads/' ~ drawing.image) }}" alt="{{ drawing.image }}" />
                        </div>
                        <div class="canvas-holder">
                            <canvas id="fabric-canvas-{{ loop.index0 }}"></canvas>
                        </div>
                    </div>
                    <p>
                        {{ drawingData.remarques }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
