{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% set title = 'Tentes - administration' %}

{% set editorScript %}
    <script>
        const items = [
            {
                "type": "textarea",
                "label": "Text Area",
                "className": "form-control",
                "name": "textarea-1570026399406",
                "subtype": "textarea"
            },
            {
                "type": "number",
                "label": "Number",
                "className": "form-control",
                "name": "number-1570026400612"
            },
            {
                "type": "header",
                "subtype": "h1",
                "label": "Header"
            }
        ];
    </script>
{% endset %}

{% set drawingPartsScript %}
    <script>
        const $holder = $('#drawing-parts-container');
        const $addBtn = $('#add-drawing-part-btn');
        const model = $holder.attr('data-proto');
        const $formBuilderInput = $('#tente_model_form');
        let index = $holder.find(':input').length;

        $(document).ready(function() {
            $addBtn.on('click', function() {
                const prototype = model.replace(/__name__/g, ++index);
                $holder.append('<div>' + prototype + '</div>');
            });
        });

        $('#fb-editor').formBuilder({
            disabledActionButtons: ['data', 'save', 'clear'],
            disableFields: ['autocomplete', 'button', 'paragraph', 'radio-group', 'file', 'hidden', 'starRating']
        }).promise.then(function(formBuilder) {
            formBuilder.actions.setData(items);

            $('#form-model').on('submit', function(e) {
                const formBuilderData = formBuilder.actions.getData();
                $formBuilderInput.val(JSON.stringify(formBuilderData));
                return true;
            });
        });
    </script>
{% endset %}

{% block main %}
    {{ registerJs('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js') }}
    {{ registerJs('https://cdn.jsdelivr.net/npm/formBuilder@3.2.5/dist/form-builder.min.js') }}
    {{ registerScript(editorScript) }}
    {{ registerScript(drawingPartsScript) }}
    <div class="container">
        {% include '@NetBSCore/includes/header.include.twig' with {
            header: 'Ajouter un modèle de tente',
            subHeader: 'Définir les propriétés du modèle'
        } %}
        {{ form_start(form, { attr: { class: 'row', id: 'form-model'} }) }}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Informations sur le modèle</h3>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Eléments dessinables</h3>
                        <h5 class="card-subtitle">Des images sur lesquelles on peut dessiner, comme un schéma des toiles. <b>Le nom de l'image donne le nom de l'élément!</b></h5>
                    </div>
                    <div class="card-body" id="drawing-parts-container" data-proto="{{ form_widget(form.drawingParts.vars.prototype.image)|e }}">
                    </div>
                    <div class="card-footer">
                        <a id="add-drawing-part-btn" class="btn btn-secondary">Ajouter un élément</a>
                    </div>
                </div>

            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Champs de la feuille d'état</h3>
                        <h5 class="card-subtitle">Le formulaire de feuille d'état. Utilisez un "Header" de type H1 crée une nouvelle section</h5>
                    </div>
                    <div class="card-body">
                        <div id="fb-editor"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary">Ajouter le modèle de tente</button>
            </div>
        <div class="d-none">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}