{% set tableId  = event.tableId %}

<div class="btn-group btn-hspace dropup">

    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">
        Ajouter des
        <span class="icon-dropdown mdi mdi-chevron-down"></span>
    </button>

    <ul role="menu" class="dropdown-menu dropdown-menu-right">
        <li><a href="#" id="{{ tableId }}_add_attributions">Attributions</a></li>
        <li><a href="#" id="{{ tableId }}_add_distinctions">Distinctions</a></li>
    </ul>
</div>

{{ registerJs(asset('bundles/netbscore/js/post_link.js')) }}

{% set dynamicsScript %}
    <script type="text/javascript">

        $('#{{ tableId }}_add_attributions').click(function() {


        });

        function addToList_{{ tableId }}(listId) {

            $.post("{{ path('netbs.core.dynamics_list.items_add') }}", {
                    modelAlias:     {{ tableId }}.modelAlias,
                selectedIds:    {{ tableId }}.getSelectedIds(),
                listId:         listId
        }).done(function(data) {

                alert("Elements ajoutés avec succès, contient désormais " + data.count + " élément(s).");
            }).fail(function() {
                alert("Une erreur est survenue, essayez avec une autre liste.");
            });

        }

        $('[data-upload-list-{{ tableId }}]').on('click', function() {

            addToList_{{ tableId }}($(this).attr("data-list-id"));
        });

        $('#{{ tableId }}_newDL').on('click', function() {

            var path    = '{{ path('netbs.core.dynamic_list.modal_add') }}';
            var classe  = '{{ event.table.itemClass|toBase64 }}';

            var modal   = new BSModal(path, {itemClass: classe});

            modal.handleSubmit = function(data, stuff, response) {

                var code    = parseInt(response.status);

                if(code === 201) {
                    addToList_{{ tableId }}(data.listId);
                    modal.remove();
                }
                else
                    alert("Un problème des plus déplaisants est survenu, vous êtes aimablement prié de contacter votre grandiose et dévoué webmaster afin qu'il le règle au plus vite!");
            };

            modal.launch();
        });
    </script>
{% endset %}

{{ registerScript(dynamicsScript) }}