{% set newsStyle %}
    <style>

        .news-container {

            max-height:500px;
            overflow:auto;
        }

        .news-item {

            margin-bottom:1rem;
        }

        .news-item-left {

            width:100px;
            height:auto;
            background:red;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            color:white;
        }

        .news-item-right {

            flex:1;
            position:relative;
            background:white;
        }

        .news-item-right .bg {

            position:absolute;
            width:100%;
            height:100%;
        }

        .news-contenu {

            padding:1rem;
        }

    </style>
{% endset %}

{{ registerStyle(newsStyle) }}
{{ registerJs(asset('bundles/netbscore/js/modal.js')) }}

<div class="news-container">
    {% for item in news if item.isPinned %}

        <div class="d-flex align-items-stretch news-item">
            <div class="news-item-left" style="background-color:{{ item.channel.color }};border:1px solid {{ item.channel.color }}">
                <h5>{{ item.user }}</h5>
                <h5>{{ item.createdAt|date('d.m.Y') }}</h5>
                <h6 style="background:white;color:black;border-radius:3px;padding:0.3rem 0.6rem;">{{ item.channel.nom }}</h6>
            </div>

            <div class="news-item-right">
                <div class="bg" style="background:{{ item.channel.color }};border:1px solid {{ item.channel.color }};opacity:0.3;"></div>

                <div class="news-contenu">
                    <h4>{{ item.titre }}</h4>

                    <p>{{ item.contenu }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for item in news if not item.isPinned %}

        <div class="d-flex align-items-stretch news-item">
            <div class="news-item-left" style="background-color:{{ item.channel.color }};border:1px solid {{ item.channel.color }}">
                <h5>{{ item.user }}</h5>
                <h5>{{ item.createdAt|date('d.m.Y') }}</h5>
                <h6 style="background:white;color:black;border-radius:3px;padding:0.3rem 0.6rem;">{{ item.channel.nom }}</h6>
            </div>

            <div class="news-item-right">
                <div class="bg" style="border:1px solid #eee;"></div>
                <div class="news-contenu">
                    <h4>{{ item.titre }}</h4>

                    <p>{{ item.contenu }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr/>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" data-modal data-modal-url="{{ path('netbs.core.news.modal_edit_news') }}">Ajouter une news</button>
</div>