{% extends '@NetBSCore/pdf/pdf.layout.twig' %}

{% block body %}

    <h3>Liste de {{ groupe.nom }}</h3>

    {% for section in sections %}

        {% set groupe   = section.groupe %}
        {% set membres  = section.membres %}

        <div style="page-break-after: auto; width:100%;">

            <h4>{% if loop.first %}EM{% else %}{{ groupe.nom }}{% endif %}</h4>

            <table class="table" style="width:100%;">
                <tr>
                    <th style="text-align:left;font-size:12px;width:16%">Nom</th>
                    <th style="text-align:left;font-size:12px;width:16%">Prénom</th>
                    <th style="text-align:left;font-size:12px;width:10%">Naissance</th>
                    <th style="text-align:left;font-size:12px;width:23%">Rue</th>
                    <th style="text-align:left;font-size:12px;width:6%">Npa</th>
                    <th style="text-align:left;font-size:12px;width:16%">Localité</th>
                    <th style="text-align:left;font-size:12px;width:12%">Téléphone</th>
                </tr>

                {% for membre in membres %}

                    {% set sendingAdresse   = membre.sendableAdresse %}
                    {% set telephone        = membre.sendableTelephone %}
                    {% set email            = membre.sendableEmail %}
                    <tr>
                        <td style="font-size:11px;">{{ membre.famille.nom }}</td>
                        <td style="font-size:11px;">{{ membre.prenom }}</td>
                        <td style="font-size:11px;">{{ membre.naissance|date("d.m.Y") }}</td>
                        {% if sendingAdresse %}
                            <td style="font-size:11px;">{{ sendingAdresse.rue }}</td>
                            <td style="font-size:11px;">{{ sendingAdresse.npa }}</td>
                            <td style="font-size:11px;">{{ sendingAdresse.localite }}</td>
                        {% else %}
                            <td style="font-size:11px;"></td>
                            <td style="font-size:11px;"></td>
                            <td style="font-size:11px;"></td>
                        {% endif %}
                        <td style="font-size:11px;">{% if telephone %}{{ telephone.telephone }}{% endif %}</td>
                    </tr>

                {% endfor %}
            </table>

            {% if not loop.last %}<hr/>{% endif %}
        </div>

    {% endfor %}

{% endblock %}
