{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% set title = 'Tentes - administration' %}

{% block main %}
    <div class="container">
        {% include '@NetBSCore/includes/header.include.twig' with {
            header: 'Tentes',
            subHeader: 'Administration de toutes les tentes'
        } %}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-8 mb-4">
                        <div class="card bg-primary">
                            <div class="card-header"><h3 class="card-title">Nombre de tentes</h3></div>
                            <div class="card-body"><h3 class="text-white">{{ tentes }} tente{% if tentes > 1 %}s{% endif %}</h3></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card {% if tentesActivite > 0 %}bg-success{% endif %}">
                            <div class="card-header"><h3 class="card-title">En activité</h3></div>
                            <div class="card-body"><h3 class="{% if tentesActivite > 0 %}text-white{% endif %}">{{ tentesActivite }} tente{% if tentesActivite > 1 %}s{% endif %}</h3></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card {% if tentesReparation > 0 %}bg-warning{% endif %}">
                            <div class="card-header"><h3 class="card-title">En réparation</h3></div>
                            <div class="card-body"><h3 class="{% if tentesReparation > 0 %}text-white{% endif %}">{{ tentesReparation }} tente{% if tentesReparation > 1 %}s{% endif %}</h3></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card {% if tentesVerifier > 0 %}bg-warning{% endif %}">
                            <div class="card-header"><h3 class="card-title">A vérifier</h3></div>
                            <div class="card-body"><h3 class="{% if tentesVerifier > 0 %}text-white{% endif %}">{{ tentesVerifier }} tente{% if tentesVerifier > 1 %}s{% endif %}</h3></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card {% if tentesIndisponibles > 0 %}bg-danger{% endif %}">
                            <div class="card-header"><h3 class="card-title">Indisponibles</h3></div>
                            <div class="card-body"><h3 class="{% if tentesIndisponibles > 0 %}text-white{% endif %}">{{ tentesIndisponibles }} tente{% if tentesIndisponibles > 1 %}s{% endif %}</h3></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title">Modèles</h3>
                        <h5 class="card-subtitle">Tous les modèles enregistrés</h5>
                    </div>
                    <div class="card-body">
                        {{ render_list('tente.tente_model', 'basic') }}
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <a href="{{ path('tente.tente_model.add') }}" class="btn btn-secondary">Ajouter un modèle</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title">Feuilles d'état de tentes non lues</h3>
                        <h5 class="card-subtitle">Les dernières feuilles d'état enregistrée et non lues</h5>
                    </div>
                    <div class="card-body">
                        {{ render_list('tente.unvalidated_feuilles_etat', 'netbs') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}