{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% form_theme userForm '@NetBSCore/form/xeditable.theme.twig' %}

{% block main %}

    <div class="container-fluid">

        {% if user.membre %}
        {% set subHeader %}
            Compte lié à <a href="{{ path('netbs.fichier.membre.page_membre', {id: membre.id}) }}">{{ membre }}</a>
        {% endset %}
        {% else %}
            {% set subHeader = "Compte lié à aucun membre de l'application" %}
        {% endif %}

        {% include '@NetBSCore/includes/header.include.twig' with {
            header: user.username
        } %}

        <div class="row">
            <div class="col-4">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Informations de compte</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            {{ fake_row("Nom d'utilisateur", user.username) }}
                            {{ form_row(userForm.email) }}
                            {{ fake_row("Email utilisé", user.sendableEmail) }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-8">
                <div id="user-accordion" class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a data-toggle="collapse" href="#password"><i class="fas fa-chevron-down"></i> Changer de mot de passe</a>
                        </div>
                        <div id="password" class="collapse show" aria-expanded="true" data-parent="#user-accordion">
                            <div class="card-body">
                                {{ form_start(cpForm) }}
                                {{ form_errors(cpForm) }}
                                {{ form_row(cpForm.old_password) }}
                                {{ form_row(cpForm.new_password) }}
                                <button class="btn btn-primary">Changer de mot de passe</button>
                                {{ form_end(cpForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}