{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}Ajouter une réparation{% endblock %}
{% block content %}
    <div>
        {{ form_start(form) }}
        {{ form_row(form.status) }}
        <div class="row">
            <div class="col-12 col-md-6">{{ form_row(form.envoyee) }}</div>
            <div class="col-12 col-md-6">{{ form_row(form.recue) }}</div>
        </div>
        <div class="border-top pt-3">
            <b>Pièces concernées</b>
            <table class="table-bordered table-sm table">
                <tbody>
                    {% for piece in form.parties %}
                        <tr>
                            <td>{{ piece.vars.value.nom }}</td>
                            <td>{{ form_widget(piece) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}