{% if item.type in ['checkbox-group', 'select'] %}
    <div>
        {% for option in item.values if option.value == itemValue %}
            {% set class = option.value == itemValue ? 'primary' : 'secondary' %}
            <span>{{option.label}}</span>
        {% endfor %}
    </div>
{% elseif item.type == 'header' %}
    {% set level = item.subtype|slice(1) %}
    {% set class = level == '1' ? 'primary' : 'secondary' %}
    <div>{{ item.label }} <span class="badge badge-{{ class }}">niveau {{ level }}</span></div>
{% elseif item.type in ['date', 'text', 'textarea', 'number'] %}
    <div>{{ itemValue }}</div>
{% else %}
    {{ dump(item) }}
{% endif %}