{% extends '@NetBSCore/searcher/searcher.html.twig' %}

{% block searchForm %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.titre) }}
            {{ form_row(form.date) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.montant) }}
            {{ form_row(form.rabais) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.isOuverte) }}
            {{ form_row(form.remarques) }}
        </div>
    </div>

    <button class="btn btn-primary">Rechercher</button>

    {{ form_end(form) }}

{% endblock %}
